.card {
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  display: flex;
  margin: 20px;

  &--gradient {
    padding: 24px 35px;
    width: 330px;
    height: 190px;
    background: linear-gradient(120deg, #8468ff 60%, #785bf7 60%);
    color: #fff;
  }

  &-signup {
    width: 150px;
    height: 190px;
    padding: 14px 20px;
  }

  &-settings {
    width: 250px;
    height: 340px;
    padding: 14px 20px;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid #ebebf2;

    .user-profile {
      display: flex;
      align-items: center;

      .profile-picture {
        width: 30%;
        margin-right: 10px;

        & > img {
          width: 100%;
          border-radius: 50%;
        }
      }

      .username {
        width: 80%;
      }
    }
  }

  &__title {
    margin: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
  }

  &__text {
    margin: 10px 0;
  }

  &__link {
    text-decoration: none;

    &--dark {
      color: #fff;
    }

    &--light {
      color: #000;
    }
  }

  &__menu {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;

    &__item {
      height: 40px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;

      &:hover {
        background-color: $default-selected-color;
      }

      & > i {
        margin-right: 10px;
        color: #6d7a86;
      }
    }
  }

  .cancel-icon {
    background: none;
    cursor: pointer;
    border: none;

    &--dark {
      color: #fff;
    }

    &--light {
      color: $text-default-light;
    }
  }
}
