<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cards</title>
  </head>
  <body>
    <main class="container d-flex">
      <section class="card-slot">
        <div class="card card--gradient">
          <div class="card__content">
              <h1 class="card__title">Upgrade for more permissions control</h1>
            <div class="card__body">
              <p class="card__text">
                Decide who can send invitations, edit team settings, and more with Business Class.
              </p>
            </div>
            <div class="card__button">
              <a href="">
                <button class="btn btn--primary">
                  <span class="card__link card__link--dark">Try for 14 days</span>
                </button>
              </a>
            </div>
          </div>
          <div class="card--icon">
            <button class="cancel-icon cancel-icon--dark">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
      </section>

      <section class="card-slot">
        <div class="card card-signup">
          <div class="card__content">
            <h1 class="card__title">Free</h1>
            <div class="card__body">
              <p class="card__text">Basic for teams and developers</p>
              <h1 class="d-inline-block m-0">$0</h1>
              <span>/month</span>
            </div>
            <div class="card__button">
              <a href="">
                <button class="btn btn--secondary btn--lg btn--secondary--shadow w-100">
                  <span class="card__link card__link--dark">Sign up</span>
                </button>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="card-slot">
        <div class="card card-settings">
          <div class="card__content">
            <div class="card__header">
              <div class="user-profile">
                <div class="profile-picture">
                  <img src="../assets/LinkedIn-Profile-Professional-Picture-Sample-Bernie-Borges.png" alt="profile-pic" />
                </div>
                <div class="username">
                  <h3 class="m-0">Annie Freeman</h1>
                  <p class="m-0">annie-freeman</p>
                </div>
              </div>
              <button class="cancel-icon cancel-icon--light">
                <i class="fas fa-times"></i>
              </button>
            </div>
            <div class="card__body">
              <ul class="card__menu">
                <li>
                    <a class="card__menu__item card__link card__link--light" href="">
                      <i class="far fa-eye"></i>
                      <span>Profile and Visibility</span> 
                    </a>
                </li>
                <li>
                  <a class="card__menu__item card__link card__link--light" href="">
                    <i class="fas fa-heartbeat"></i> 
                    <span>Activity</span> 
                  </a>
                </li>
                <li>
                  <a class="card__menu__item card__link card__link--light" href="">
                    <i class="far fa-clone"></i>
                    <span>Cards</span>
                  </a>
                </li>
                <li>
                  <a class="card__menu__item card__link card__link--light" href="">
                    <i class="fas fa-cog"></i>
                    <span>Settings</span>
                  </a>
                </li>
                <li>
                  <a class="card__menu__item card__link card__link--light" href="">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Log out</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
